*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 750px;
}
body{
    font-family:Roboto,sans-serif ;
    background-color: rgb(186, 219, 248);
   
}
.top{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}
h2{
    text-align: center;
    
}
.top1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
fieldset{
    display: grid;
    grid-gap: 2px;
    border: 1px solid #a3727233;
    margin: 1em;
    padding: 5px;
    justify-content: start;
    
    
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.navigation{
    display: grid;
    text-decoration: none;
    justify-content: space-around;
    grid-template-columns: repeat(4,1fr);
}
div.details{
    display: flex;
    justify-content: space-between;
    row-gap: 5px ;
}   
input#email{
    width: 300px;
}
label{
    align-items: start;
    display: inline;
    text-align: start;
}
textarea{
    width:600px;
    height:100px;
}
.pos{
    display: grid;
    align-items: start;
    text-align: start;
    justify-content: start;
    
}
.last{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#subscription{
    height: 22px;
    width: 22px;
}
button{
    font-size: 1em;
    color: #f7fafa;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.6rem;
    border: none;
    background-color: rgb(88, 137, 180);
    
}
button:hover{
    background-color: rgb(125, 132, 226);}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}   
.first, .second{
    border: 0.5px solid;
} 