*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
   
}
table{
    border: solid 1px;
    margin: 0 auto;
}
thead{
    color: white;
    background-color: black;
}

td{
    border-bottom: solid 1px;
    border-right: solid 1px;
}
tfoot{
    color: white;
    background-color: black;
    border: 0;
}