*{
    border:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Lato,sans-serif;
    color: #0f0909;
    background: #f5f6f7;
}

header{
    width: 700px;
    text-align: center;
    margin: 0 auto;
}
form{
    margin: 0 auto;
    border: 1px solid #271414;
    border-radius: 5px;
    width: 800px;
    background-color: #e9eef3;
    padding: 0 10px;
    display: grid;
}
fieldset{
    display: grid;
    grid-gap: 0.4em;
    border: 1px solid #a3727233;
    margin: 1em;
    padding: 5px;
    grid-template-columns:  ;
}
legend{
    color: #110202;
    padding: 0.5rem;
    font-weight: bold;
}
button{
    font-size: 1em;
    color: #f7fafa;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.6rem;
    border: none;
    background-color: rgb(88, 137, 180);
}
button:hover{
    background-color: rgb(125, 132, 226);}
textarea,input,select{
    display: grid;
    width: 700px;
    height: 30px ;
    border:1px solid;
}
h2,label{
    display: inline;
    
}
textarea{
    height: 150px;
}
footer{
    text-align: center;
    
}
h2{
    color: rgb(74, 72, 194);
}
.example{
    text-align: center;
    display: block;
    padding-bottom: 1em;
    
}