:root{
    --color:hsl(240, 24%, 93%);
    --padding:10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: darkblue;
    padding: var(--padding);
}
nav a {
    color: var(--color) ;
    display:block; 
    padding:20px ;

}
main h1{
    color: var(--color);
}
main img{
    width:150px ;
    height: auto;
    border: 1px solid black;
    padding:2px ;
    box-shadow: 0 0 30px grey;
    float: right;
}
p{
    padding: var(--padding);
}
main{max-width: 800px;}
aside{
    width: 20rem;
    margin: 1em ;
    border: 1px solid rgb(0, 0,0/0.2);
    padding: 1rem ;
    background-color: cornsilk;
    color: rgb(24, 27, 27);
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
    text-align: center;
}
p{ padding: 0;}
footer{
    margin-top: 10px;
    border-top: 1px var(--color);
    text-align: center;
    bottom: 5px;
}

.box{
    margin: 1em;
    padding: 1em;
    background: rgb(175, 174, 174);
    color: hsl(0, 33%, 6%);
}
aside h2{
    position: relative;
    top: 1em;
    left: 20px;
}

aside h1{
    border-top: 25px;
    color: brown;
}
/* Class selectors */