main{
    max-width: 900px;
}
 aside{
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    color: #353333;
    text-align:center;
    background-color:#eee;
    border:solid 1px;
 }

 aside img{
    width: 200px;
    height: auto;
 }
 main img {
    width: 150px;
    height: auto;
    box-shadow: 5px 5px 10px gray;
    border: 1px solid ;
    border-radius: 5px;
    padding: 5px;
 }
 h1{
    color: rgb(4, 48, 99);
 }
 p{
    padding: 0;
 }
 footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
 }
 nav{
    background-color: #353333;
    padding: 10px;
 }
 nav a {
    color: #eee;
    padding :5px;
    display: block;
 }